@import 'components/card';
// @import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');
@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
  box-sizing: border-box
}
body {
  padding: 0 !important;
  margin: 0 !important;
  // font-family: 'Bai Jamjuree', sans-serif !important;
  font-family: 'Cairo', sans-serif;
}

.fake-field {
  transition: all .9s cubic-bezier(0.075, 0.82, 0.165, 1);
  // z-index: 2;
}

.table-border {
  td, th {
    border: 1px solid #ccc;
    padding: 3px
  }
}

.simulated-field,.fake-field {
  border: 1px solid #e6e6e6;
  // display: flex;
  min-height: 48px;
  background: #fff;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 14px;
  align-items: center;
  z-index: 9;
  i {
    margin-right: 5px;
    color: #0d86e09c;
    font-size: 16px;
    font-weight: normal;
  }
  &:not(:first-child) {
    margin-top: 10px;
  }
  &:hover {
    color: #3987d9;
    background: #f4f9ff;
    border: 1px dashed #3987d9;
  }
}
.simulated-field {
  display: flex;
  user-select: none;
  justify-content: space-between;
  transition: all .2s ease-in-out;
  min-height: 25px !important;
  &.active{
    color: #3987d9;
    background: #f4f9ff;
    border: 1px dashed #3987d9;
  }
  .field-wrapper {
    display: flex;
    padding: 8px;
    align-items: center;
  }
  .remove-field {
    border-left: 1px dashed #3987d9;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      color: #3987d9;
      font-size: 20px;
    }
  }
}
.selected_field {
  color: #3987d9;
  background: #f4f9ff;
  border: 1px dashed #3987d9;
}
.fake-field{
  border: 1px solid #e6e6e6;
  display: flex;
  min-height: 48px;
  background: #fff;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 14px;
  align-items: center;
  z-index: 9;
  border: 2px dotted #0719bb52;
  padding: 3px 15px;
  min-width: 200px;
  cursor: move;
}

.drag_and_drop {
  text-align: center;
  height: 100%;
  color: #a5a5a5;
  text-transform: uppercase;
  font-weight: bold
}

.centeralize {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-fade-enter-active {
  transition: all .2s linear
}
.slide-fade-leave-active {
  transition: all .2s linear //cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter{
  transform: translateY(5%);
  // transform: scale(0);
  opacity: 0;
}
.slide-fade-leave-to {
  transform: translateY(0);
  // transform: scale(0);
  opacity: 0;
}

.form-row{
  padding:0 10px;
  margin: 15px 0;
  label {
    margin: 0 0 5px;
    font-weight: normal;
  }
  input, textarea {
    border: none;
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px 10px;
    min-height: 30px;
    font-size: 16px;
    box-shadow: none;
    &.disabled {
      background: #e8e8e8ad !important;
      cursor: not-allowed;
    }
    &:focus {
      border: 1px solid #3987d9;
      outline: none;
    }
  }
  &.checkbox {
    display: flex;
    align-items: center;
    input {
      width: 30px !important;
      min-height: auto;
      padding: 0;
      margin: 0 10px;
    }
    label {
      margin: 0
    }
  }
  }