.form-builder__section{
  transition: all .2s ease-in-out;
  box-sizing: border-box;
  border: 2px solid #eeeeee70;
  margin-bottom: 20px;
  padding-bottom: 3px;
  &__header {
    background-color: #fcfcfd;
    border-bottom: 1px solid #e6e6e6;
    padding: 7px 10px;
    color: #565656;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #146cc38c;
    i {
      margin-right: 5px;
    }
  }
  &__fields {
    margin: 0;
    padding: 10px;
    li {
      margin-left: 0;
      margin-right: 0;
      &.RTLdirection {
        direction: rtl;
        i {
          margin: 0;
          margin-left: 5px;
        }
      }
    }
  }
  &.active {
    background: #f4f9ff;
    border-color: #3986d941;
    border-style: dotted;
  }
  &__placeholder {
    border: 2px dotted rgb(7, 25, 187);
    height: 50px;
    background-color: #F4F6FA;
    list-style-type: none;
    margin: 20px 10px;
    transition: none
  }
}
